@import "tailwindcss";


@layer base {
  body {
    @apply m-0 p-0 min-h-screen flex flex-col text-[#333];
  }
  p {
    @apply my-4 text-xs leading-relaxed;
  }

  img {
    @apply w-[120px] h-auto mx-auto block;
  }
}

@layer components {
header {
  @apply flex flex-col items-center border-t-20 border-[#60B8DE] pt-6;
}
.card {
  @apply mx-5 p-4 rounded-lg shadow-md border-2 transition-all duration-300 bg-gray-50 border-gray-300;
}
.open-cards {
  @apply flex flex-col items-center;
}
.closed-cards {
  @apply  bg-gray-100 rounded-xl shadow p-6  w-full md:w-[650px] hover:shadow-xl transition-shadow flex flex-col gap-4;
}

/* DARK MODE THEME */
.mode-btn {
  @apply fixed top-10 right-10 md:text-4xl bg-transparent border-none cursor-wait transition-transform duration-700 ease-in-out hover:scale-175;
}
.dark-mode {
  @apply bg-black text-white transition-colors duration-900;
}
.dark-mode .nav-bar a, .dark-mode .user-name, .dark-mode .pr-comments, .dark-mode .closed-cards, .dark-mode .closed-cards-p, .dark-mode .closed-cards-a {
  @apply bg-black !text-white;
}
.dark-mode .main-content {
  @apply bg-gray-900;
}
.dark-mode .nav-bar a{
@apply hover:!bg-[#60B8DE];
}
.dark-mode .card a, .dark-mode .card p {
  @apply bg-black !text-white;
}
.dark-mode .card, .dark-mode .no-found-box {
    @apply !bg-black !text-white !border-gray-500;
}
.dark-mode .contributor-name{
  @apply !text-[#60B8DE];
}

.dark-mode .closed-cards {
  @apply shadow-lg shadow-sky-500/100;
}

.dark-mode .semi-card {
  @apply !bg-gray-900;
}

.dark-mode .semi-card span {
    @apply !text-white;
  }
.dark-mode .chatbox-container{
  @apply !bg-gray-800 text-gray-500;
}
.dark-mode .chatbox-submit {
  @apply !bg-gray-800;
}
.dark-mode .chatbox-message {
  @apply !bg-gray-800 !text-white;
}

.opened-cards {
   @apply flex flex-col items-center;
}

.header-content {
  @apply flex flex-col items-center justify-center my-12 text-center;
}

.main-heading {
  @apply md:text-4xl text-center md:m-5;
}
  .main-h2 {
    @apply text-center md:text-[1.5rem] text-[#60B8DE] mx-1 my-3;
  }
  .logo {
    @apply -mb-12 block rounded-full border-3 border-[#60B8DE];
  }

  .nav-bar {
    @apply flex justify-center gap-1 m-2 md:mb-8 md:mt-8;
  }

  .nav-bar a {
    @apply text-base border-[2px] border-[#60B8DE] rounded-xl bg-transparent cursor-pointer no-underline text-[#333] transition-all duration-300 shadow-xl/10;
  }

  /* Main content */
  main {
    @apply flex-1 flex justify-center mx-5 mb-8;
  }

  .main-content {
    @apply text-xs md:text-sm p-1 md:px-15 md:!py-10 md:m-2 w-full max-w-[1000px] border-4 border-[#60B8DE] rounded-xl shadow-xl/30;
  }


  /* Footer */
  footer {
    @apply text-center p-4 bg-[#60B8DE] text-white;
  }

  footer ul {
    @apply flex list-none justify-center p-0 mt-2 mb-0;
  }

  footer li {
    @apply mx-2 font-light;
  }

  footer p {
    @apply mt-2 mb-0;
  }
  /* Not Found Page */
  .not-found {
    @apply h-[70vh] w-4/5 bg-cover bg-center bg-no-repeat flex justify-center items-center text-center;
    background-image: url("../src/assets/404.gif");
  }
  /* Responsive */
  nav {
    @apply gap-4 md:gap-2; /* default gap-4, smaller gap on md (768px and below) */
  }

  .team-member:hover {
    @apply font-bold transition duration-300 hover:scale-110;
  }
}
